
 .head {
    position: absolute;
    top: 10px;
    overflow: hidden;
    left: 169px;
    width: 1180px;
    height: 100px;
    background-color: #C4C4C4;
    text-align: center;
    line-height: 100px;
    font-size: large;
    box-shadow: 2px 2px 2px 2px darkgrey;
  }
.settle_back{
  position: fixed;
  right: 70px;
  top: 50px;
  cursor: pointer;
  width: 60px;
  height: 50px;
  border: none;
  background-color: darkgray;
  border-radius: 5px;
  box-shadow: 0 3px #999;
}
.settle_back:active{
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}
  .foot {
    width: 1100px;
    height: 100px;
    margin: -15px auto;
  }

  .pay {
    width: 200px;
    height: 45px;
    background-color: aliceblue;
    float: right;
  }

  .pay:active {
    background-color: azure;
  }

  .ban {
    height: 200px;
  }

  .show {
    border-radius: 5px;
    background-color: gray;
    width: 460px;
    height: 200px;
  }

  .show-bot {
    position: absolute;
    right: 0px;
    height: 80px;
    width: 80px;
    padding-top: 15px;
  }
  .show-bot2 {
    height: 80px;
    width: 80px;
    padding-top: 15px;
  }
.passengersl{
    overflow-y: scroll;
    height:80px;
    width:480px;
}
.jia{
    display: none;
    overflow-y: scroll;
    height:80px;
    width:480px;
}
.passengersl2{
    background-color: #4d5b69;
    z-index: 1000;
    height: 350px;
    width:480px;
    position: absolute;
    top: 50px;
    border-radius: 5px;
}


