<!DOCTYPE html>
<html lang="zh-CN">

<head>
<meta charset="UTF-8">
<title>错误界面</title>
<link rel="stylesheet" href="../static/s-css/style.css">
</head>
<body>
    <div style="width:600px;height:400px;margin: auto;">
        <img src="../static/s-other/404.png" alt="" style="width: 100%;height:100%">
    </div>
    <p style="width:auto;height: auto;text-align: center;margin:auto;font-size:large;color:pink;">很抱歉，您访问的页面找不到了</p> 
    <p style="text-align:center;width: 300px;height: 300px;margin: auto;"><img src="../static/s-other/1(1).png" alt="" style="width:100%;height:100%;"></p>
</body>
</html>