<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
    <link rel="shortcut icon" href="../static/s-other/logo.ico" />
    <link rel="stylesheet" href="..\static\s-css\register.css">
    <script src="..\static\s-js\jquery.min.js"></script>
</head>
<body>
    <div class="app">
        <div class="login-wrapper">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            <!-- 这里没改 -->
            <div class="login">用户注册</div>
            <div class="form-wrapper">
                <input name="email" type="email" id="username" placeholder="邮箱" />
                <p>&nbsp</p>
                <input name="password" type="text" id="password" placeholder="验证码" />
                <input type="button" class="send-btn" value="发送">
                <button type="button" id="reg">注册</button>
                <p class="codefail">&nbsp</p>
                <!-- 注册成功和验证码错误消息闪现 -->
            </div>
        </div>
    </div>
</body>
<script src="..\static\s-js\login.js"></script>
</html>
