*{
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?rnkauu');
    src:  url('../fonts/icomoon.eot?rnkauu#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?rnkauu') format('truetype'),
      url('../fonts/icomoon.woff?rnkauu') format('woff'),
      url('../fonts/icomoon.svg?rnkauu#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: brown;
}
body{
        background-image: url(../s-other/);
        background-size: cover;
        background-repeat: repeat;
}
.ban{
    margin: 0px auto;
    width: 1200px;
}
.header{
    position: relative;
    font-family:'icomoon';
    color: brown;
    height: 150px;
    background-color: cadetblue;
}
.logo{
    line-height: 150px;
}
.title{
    color: black;
    position: absolute;
    top: 35%;
    left:30%;
}
.ifa{
    position: fixed;
    z-index: 100000;
    display: none;
    top: 20px;
    left: 450px;
    width: 650px;
    height: 650px;
}
.ifa2{
    position: fixed;
    z-index: 100000;
   display: block;
    top: 20px;
    left: 450px;
    width: 650px;
    height: 650px;
}
.cover{
    background: #000; position: absolute; left: 0px; top: 0px; width: 100%; filter: alpha(opacity=30); opacity: 0.3; display: none; z-index: 1000;
}
.cover2{
    background: #000; position: absolute; left: 0px; top: 0px; width: 100%; filter: alpha(opacity=30); opacity: 0.3; display: block; z-index: 1000;
}
.search{
    position: relative;
    height: 100px;
}
.search_single {
    display: block;
}
.search_single2 {
    display: none;
}
.search_many {
    position: absolute;
    width: 900px;
    left: 0;
    top: 20px;
    display: none;
    z-index: 100000;
    background-color: aliceblue;
}
.search_many2 {
    position: absolute;
    width: 900px;
    border-radius: 0px 5px 5px 5px;
    left: 0;
    top: 20px;
    display: block;
    background-color: aliceblue;
    z-index: 100;
}
.search_many3 {
    position: absolute;
    width: 900px;
    border-radius: 0px 5px 5px 5px;
    left: 0;
    top: 20px;
    display: block;
    background-color: aliceblue;
    z-index: 100;
    height: 82px;
    overflow: auto;
}
#tuichu {
    position: fixed;
    right: 30px;
    top: 40px;
    cursor: pointer;
    width: 60px;
    height: 50px;
    border: none;
    background-color: blanchedalmond;
    border-radius: 5px;
    box-shadow: 0 3px #999;
}
#tuichu:active {
    box-shadow: 0 1px #666;
    transform: translateY(4px);
}
.hidden{
    visibility: hidden;
}
.xiaoxi {
    color: red;
    font-size: 17px;
    width: 200px;
    height: 20px;
    position: absolute;
    top: 15px;
    left: 960px;
}
.tishi {
    position: absolute;
    display: none;
    width: 900px;
    height: 99px;
    border: 2px solid red;
}
.tishi2 {
    position: absolute;
    display: block;
    width: 900px;
    height: 99px;
    border: 2px solid red;
}
.nav_tishi {
    position: absolute;
    display: none;
    color: red;
    right: 700px;
    top: -20px;
    width: 200px;
    height: 30px;
}
.nav_tishi2 {
    position: absolute;
    display: block;
    color: red;
    top: -20px;
    right: 700px;
    width: 200px;
    height: 30px;
}
.nav_tishi3 {
    position: absolute;
    display: none;
    right: 1000px;
    color: red;
    top: -20px;
    width: 200px;
    height: 30px;
}
.nav_tishi4 {
    position: absolute;
    display: block;
    right: 1000px;
    color: red;
    top: -20px;
    width: 200px;
    height: 30px;
}
.input{
    border: none;
    height: 50px;
    font-style: bold;
}
.citySelect{
    border: none;
    height: 50px;
    font-style: bold;
    background:url('../s-other/city.png') no-repeat ;
    background-position: 120px 20px;
}
.citySelect1{
    border: none;
    height: 50px;
    font-style: bold;
    background:url('../s-other/city.png') no-repeat ;
    background-position: 120px 20px;
}
.city_first{
    border: none;
    height: 50px;
    font-style: bold;
    background:url('../s-other/city.png') no-repeat ;
    background-position: 120px 20px;
}
.city_second{
    border: none;
    height: 50px;
    font-style: bold;
    background:url('../s-other/city.png') no-repeat ;
    background-position: 120px 20px;
}
.search-address{
    font-family: 'icomoon';
    position: absolute;
    left: 0px;    
    height:80px;
    width: 400px;
}
.address-start > span{
    opacity: 0.3;
    font-weight: 700;
}
.address-start{
    border: 2px solid black;
    position: absolute;
    top: 20px;
    width: 155px;
    height: 78px; 
}
.ico{
    position: absolute;
    left: 150px;
    top:40px;
    font-family: 'icomoon';
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
}
.address-end{
    border: 2px solid black;
    position: absolute;
    top: 20px;
    width: 155px;
    height: 78px;
    left: 200px;
}
.address-end > span{
    opacity: 0.3;
    font-weight: 700;
}
.search-time{
    position: absolute;
    left: 500px;
    width: 400px;
    height: 80px;
}
.time-start > span{
    opacity: 0.3;
    font-weight: 700;
}
.arrive-start{
    display: inline-block;
    width: 155px;
    height: 78px;
    border: 2px solid black;
    margin-right: 30px;
}
.arrive-start > span{
    opacity: 0.3;
    font-weight: 700;
}
.arrive-end > span{
    opacity: 0.3;
    font-weight: 700;
}
.arrive-end{
    display: inline-block;
    width: 155px;
    height: 78px;
    border: 2px solid black;
   margin-right: 30px;
}
.arrive-time > span{
    opacity: 0.3;
    font-weight: 700;
}
.arrive-time{
    display: inline-block;
    width: 155px;
    height: 78px;
    border: 2px solid black;
   margin-right: 30px;
}
.addition{
    cursor: pointer;
    width: 80px;
    height: 40px;
    background-color: antiquewhite;
    box-shadow: 0 3px #999;
    border-radius: 5px;
}
.addition:active{    
        box-shadow: 0 1px #666;
        transform: translateY(4px);
}
.decline{
    cursor: pointer;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    background-color: #999;
    box-shadow: 0 3px #999;
    margin-left: 30px;
}
.decline:active{    
        box-shadow: 0 1px #666;
        transform: translateY(4px);
}
.time-start{
    border: 2px solid black;
    position: absolute;
    top: 20px;
    width: 155px;
    height: 78px;
}
.time-end2 > span{
    opacity: 0.3;
    font-weight: 700;
}
.time-end{
    visibility: hidden;
    border: 2px solid black;
    position: absolute;
    top: 20px;
    width: 155px;
    height: 78px;
    left: 200px;
}
.time-end2{
    border: 2px solid black;
    position: absolute;
    top: 20px;
    width: 155px;
    height: 78px;
    left: 200px;
}
.ico2{
    position: absolute;
    left:650px;
    top:40px;
    font-family:'icomoon';
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
}
.chazhao{
    position: absolute;
    right: 50px;
    bottom: 10px;
    width: 200px;
    height: 50px;
}
.btn{
    cursor: pointer;
    font-family: 'icomoon';
    width: 100%;
    height: 100%;
    border: none;
    background-color:aqua;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 3px #999;
}
.btn:hover{
    background-color: burlywood;
}
.btn:active {
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}
.date{
    background-color: aquamarine;
    height: 120px;
}
.date > a {
    pointer-events: none;
    width: 100%;
    height: 100%;
}
.date > a > img{
    width: 100%;
    height: 100%;
}
.show{
    position: relative;
}
.show-nav{
    position: absolute;
    top:0px;
    height: 150px;
    width: 1200px;
}
.show-nav-span{
    z-index: 0;
    position: absolute;
    top: 0px;
    height: 50px;
    left: 0px;
}
.show-nav-span2{
    z-index: 1;
    position: absolute;
    top: 0px;
    height: 50px;
    left: 0px;
}
.show-nav .show-nav-span button{
      float: left;
      font-family: 'icomoon';
      width:300px;
      border:1px solid aliceblue;
      color: burlywood;
      height: 49px;
      border-radius: 1px;
      cursor: pointer;
}
.show-nav .show-nav-span2 button:nth-child(1){
    pointer-events: none;
    float: left;
    width:300px;
    border:1px solid aliceblue;
    color: black;
    font-size: large;
    height: 49px;
    border-radius: 1px;
    cursor: pointer;
    background-color: cadetblue;
}
.show-nav .show-nav-span2 .tixing{
    float: left;
    width:300px;
    border:1px solid aliceblue;
    color: white;
    font-size: large;
    height: 49px;
    border-radius: 1px;
    cursor: pointer;
    background-color: cadetblue;
}
.show-nav .show-nav-span2 button:active{
    background-color: azure;
}
.show-nav .show-nav-span button:hover{
    background-color: darkgrey;
}
.nav0{
   display: block;
}
.nav2{
    display: none;
}
.show-nav-info{
    position: absolute;
    bottom: 0px;
    height: 100px;
    width: 1200px;
   background-color: aliceblue;
}
/* 两个ui li 的元素一起控制了 */
.show-nav-info > ul >li{
  float: left;
  padding: 30px 20px;
}
.show-nav-info > ul >li >select{
   width: 90px;
   height: 40px;
}
.show-nav-sort{
    position:absolute;
    right: 0px;
}
.kuang{
    width: 100%;
    height: 150px;
}
.show-body0{
    display: block;
    width: 1200px;
}
.show-body0 span{
     display: inline-block;
     width: 300px;
     height: 300px;
     margin-left: 500px;
    font-size: 20px;
    text-align: 55%;
}
.show-body0 span p{
    width: 200px;
    height: 200px;
}
.show-body0 span p img{
    width: 100%;
    height: 100%;
}
.show-body2{
    display: none;
    width: 1200px;
}
.show-body2 span{
    display: inline-block;
    width: 300px;
    height: 300px;
    margin-left: 500px;
    text-align: 55%;
    font-size: 20px;
}
.show-body2 span p{
   
   width: 200px;
   height: 200px;
}
.show-body2 span p img{
   width: 100%;
   height: 100%;
}
.info0 > li{
    color: aqua;
}
.info2 > li{
    color: aqua;
}
.city{
    display: none;
}
.city2{
    display: block;
}
.info2 > li{
   height: 145px;
}
#foot{
    margin-bottom: 0;
    background-color: #999;
    width: 100%;
    height: 200px;
    text-align: center;
}
.name{
    position: absolute;
    left: 40%;
    font-size: large;
}

.pay{
    position: absolute;
    z-index: 100;
    right: 100px;
    top: 80px;
    cursor: pointer;
    width: 150px;
    height: 40px;
    border: none;
    color: gold;
    font-size: large;
    background-color:darkslategray;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 3px #999;
}
.pay2{
    cursor: pointer;
    width: 150px;
    height: 40px;
    border: none;
    color: gold;
    font-size: large;
    background-color:darkslategray;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 3px #999;
}
.pay:active {
    box-shadow: 0 1px #666;
    transform: translateY(4px);
  }
.pay2:active {
    box-shadow: 0 1px #666;
    transform: translateY(4px);
  }
.but{
    cursor: pointer;
    width: 100px;
    height: 40px;
    border: none;
    background-color: powderblue;
    font-style: italic;
    font-size: 18px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 3px #999;
}
.but2{
    cursor: pointer;
    width: 100px;
    height: 40px;
    border: none;
    background-color:powderblue;
    font-style: italic;
    font-size: 18px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 3px #999;
}
.but:active {
    box-shadow: 0 1px #666;
    transform: translateY(4px);
  }
.jingbao{
    position: absolute;
    display: none;
    z-index: 1000;
    left: 30%;
    top:10%;
    width: 500px;
    height: 500px;
    text-align: center;
    color: black;
    background-color: aliceblue;
}
.jingbao2 h1{
    margin-left: 35%;
    overflow: hidden;
    left: 40%;
    width: 150px;
    height: 50px;
    border-radius: 15px;
}
.jingbao2{
    position: absolute;
    display: block;
    z-index: 100000;
    left: 35%;
    top:10%;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    color: black;
    background-color: cornsilk;
}
.jingbao2 p{
    font-size: large;
    padding-left: 3px;
    width: 100%;
    margin-top: 10px;
}
.cha{
    cursor: pointer;
    position: absolute;
    bottom: 40px;
    left: 100px;
    width: 300px;
    height: 40px;
    background-color:khaki;
    color: black;
}
.cha:active{
    background-color: aliceblue;
}
.xinxi{
    width:100%;
    height: 100px;
    background-color: azure;
}
.radio{
    float: right;
    margin-right: 5px;
     height: 20px;
     width: 20px;
}
.radio2{
    float: right;
    margin-right: 5px;
     height: 20px;
     width: 20px;
}
.tr1 td{
    text-align: center;
    width: 200px;
}
.tr1 td:nth-child(4){
    width: 100px;
    text-align: center;
}
.tr1 td:nth-child(5){
    width: 100px;
    text-align: center;
}
.tr2 td{
    text-align: center;
    width: 200px;
}
.tr2 td:nth-child(4){
    width: 100px;
    text-align: center;
}
.tr2 td:nth-child(5){
    width: 100px;
    text-align: center;
}
.tab{
    float: right;
    height: 100px;
    width: 100%;
}
table{
    width: 100%;
    height: 100%;
}
.tiaojian{
    color: black;
    font-size: large;
}